{% extends 'base.html.twig' %}

{% block title %}Hello StatController!{% endblock %}

{% block body %}
<H1>STATISTIQUE </H1>
<div class="form-stat">
    <label for="chartType" class="form-label">Choisir le type de graphique :</label>
    <select name="chartType" id="chartType" class="form-select">
        <option value={{ path("app_login") }}>Liste du Personnel</option>
        <option value="bar">Chiffre d'Affaires</option>
        <option value="radar">Statistique</option>
    </select>
    <button type="submit" class="form-button">Afficher</button>
</div>
<div class="example-wrapper">
{{ render_chart(chart) }}
</div>

{% endblock %}
