<!DOCTYPE html>
<html>


	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		
{% block header %}
{{ include("/navbar/index.html.twig") }}
{% endblock %}

		{% block javascripts %}
		
    
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
	
		{% block body %}
			{% include "home/home.html.twig" %}		
		{% endblock %}
	</body>



</html>
