{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
{% set titre = "Demande de réinitialisation de mot de passe" %}
{% include "base/blueBar.html.twig" %}
	<section class=" divBtnSend min-height100">
    {{form_start(requestPassForm)}}
     {{form_row(requestPassForm.email,{'attr':{'placeholder':'email.exemple@gmail.com'}})}}
     <button type="submit">Envoyer</button>
    {{form_end(requestPassForm)}}
    </section>
{% endblock %}
