{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	{% set titre = "Réinitialisation de mot de passe" %}
	{% include "base/blueBar.html.twig" %}
	<section class="divBtnSend min-height100">
		{{ form_start(passForm) }}
		{{ form_row(passForm.password,{'attr':{'placeholder':'Nouveau mot de passe'}}) }}
		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(passForm) }}
	</section>

{% endblock %}
