<footer class="footer">
    <div>
        <p>Réalisé lors de la formation DWWM</p>
    </div>
    <div>
        <p  id="openModal">Mentions Légales</p>
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close-modal" id="closeModal">&times;</span>
                <h2>Mentions Légales</h2>
                <p>Réalisé en équipe par : </p>
                <ul class ="listeEquipe">
                    <li>Samuel</li>
                    <li>Moussa</li>
                    <li>Nordine</li>
                    <li>Areis</li>
                    <li>Quentin</li>
                </ul>
            </div>
        </div>
        <p>La team Rocket</p>
    </div>
    <div>
        <p>Utilisation de l'API adresse (BAN)</p>
    </div>
</footer>