
{% extends "base.html.twig" %}

        
{% block body %}
    <nav class="navbarE">
        <ul class="navE-links">
            <li><a href="#">Opérations</a></li>
            <li><a href="#">Ma Liste</a></li>
            <li><a href="#">Ajout Opération</a></li>
            <li><a href="#">Liste Personnel</a></li>
            <li><a href="#">Ajout Personnel</a></li>
            <li><a href="#">Statistique</a></li>
            <li><a href="#">Répertoire</a></li>
        </ul>
    </nav>
{% endblock %}